body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0px 30px;
  background: #ddd;
}

.wrapper {
  max-width: 960px;
  width: 100%; 
  margin: 30px auto;
  transform: scale(0.8);
}

.landing-page {
  max-width: 960px;
  height: 475px;
  margin: 0;
  box-shadow: 0px 0px 8px 1px #ccc;
  background: #fafafa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #7e7e7e;
  font-size: 8em;
  text-align: center;
  line-height: 1.1;
}

.logo .fa {
  color: #c39999;
}

h1 {
  font-size: 48px;
  margin: 0;
  color: #7e7e7e;
}

p {
  font-size: 18px;
  width: 35%; 
  margin: 16px auto 24px;
  text-align: center;
}

.home-link {
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  /* background: #610a86; */
  /* sensifai */
  background: #218838;
  color: #fff;
  border: none;
  box-shadow: 0 4px 4px 0 #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
